{% extends 'base_admin.html.twig' %}

{% block title %}Edit Answer{% endblock %}

{% block body %}
    <section class="container-fluid">
        <h1>Edit Answer</h1>

        <div class="content">
            {{ include('answer/_form.html.twig', {'button_label': 'Update'}) }}
            <a class="btn btn-primary" href="{{ path('app_answer_index') }}">Retour</a>
        </div>
    </section>


{% endblock %}
