{% extends 'admin/base_admin.html.twig' %}

{% block title %}Ajout - Métier
{% endblock %}

{% block body %}
	<section class="container-fluid">
		<h1>AJout - Métier</h1>

		<div class="content">
			{{ include('admin/job/_form.html.twig') }}
			<a class="btn btn-primary" href="{{ path('app_job_index') }}">Retour</a>
		</div>
	</section>


{% endblock %}
