{% extends 'base_admin.html.twig' %}

{% block title %}New Timeslot{% endblock %}

{% block body %}
    <section class="container-fluid">
        <h1>Create Timeslot</h1>

        <div class="content">
            {{ include('timeslot/_form.html.twig') }}
            <a class="btn btn-primary" href="{{ path('app_timeslot_index') }}">Retour</a>
        </div>
    </section>


{% endblock %}
