
body {
    padding-top: 80px;
}
hr {
    width: 80%!important;
    margin: auto;
}
nav{
    opacity: 0.8;
    
}

div#granted {
    display: flex;
}

div#granted a {
    margin: 10px;
}

section#chiffres {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        padding: 20px;
}

section#chiffres div.card {
    margin: 15px;
    width: 160px!important;
    text-align: center;
    border: 0.5px solid rgba(0,0,0,0.09);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
}

section#chiffres div.card h5.card-title {
    color:orangered;
    font-size: 70px;
    font-weight: bold;
}
section#chiffres div.card p.card-text {
    
    font-size: 20px;
}

section#description {
display: flex;
justify-content: center;
margin: auto;
width: 80%;
padding: 25px 5px;
}

div.col {
    padding: 0 15px;
}

div.col h4 {
    font-size: 20px;
}

div.col p {
    font-size: 15px;
}

a {
    text-decoration: none;
}

section#rotary {
margin: auto;
width: 80%;
padding: 25px 5px;
}

section#rotary h3 {
    text-align: center;
}