hr {
    width: 80%!important;
    margin: auto;
}
nav{
    opacity: 0.8;
}

div#granted {
    display: flex;
}

div#granted a {
    margin: 10px;
}

section#chiffres {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        padding: 20px;
}

section#chiffres div.card {
    margin: 15px;
    width: 160px!important;
    text-align: center;
    border: 0.5px solid rgba(0,0,0,0.09);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
}

section#chiffres div.card h5.card-title {
    color:orangered;
    font-size: 70px;
    font-weight: bold;
}
section#chiffres div.card p.card-text {
    
    font-size: 20px;
}

section#description {
display: flex;
justify-content: center;
margin: auto;
width: 80%;
padding: 25px 5px;
}

div.col {
    padding: 0 15px;
}

div.col h4 {
    font-size: 20px;
}

div.col p {
    font-size: 15px;
}

a {
    text-decoration: none;
}

section#rotary {
margin: auto;
width: 80%;
padding: 25px 5px;
}

section#rotary h3 {
    text-align: center;
}











body {
    background-color: lightgray;
}

body {
	background: #f1f1f1;
	font-family: 'Roboto', sans-serif;
}

.contact-form {
	font-family: 16px;
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}

.contact-form .separator {
	border-bottom: solid 1px #ccc;
	margin-bottom: 15px;
}

.contact-form .form {
	display: flex;
	flex-direction: column;
	font-size: 16px;
}

.contact-form_title {
	color: #333;
	text-align: left;
	font-size: 28px;
}

.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea {
	border: solid 1px #e8e8e8;
	font-family: 'Roboto', sans-serif;
	padding: 10px 7px;
	margin-bottom: 15px;
	outline: none;
}

.contact-form textarea {
	resize: none;
}

.contact-form .button {
	background: #da552f;
	border: solid 1px #da552f;
	color: white;
	cursor: pointer;
	padding: 10px 50px;
	text-align: center;
	text-transform: uppercase;
}

.contact-form .button:hover {
	background: #ea532a;
	border: solid 1px #ea532a;
}

.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea,
.contact-form .button {
	font-size: 15px;
	border-radius: 3px
}


#contact-form {margin-top: 103px;}
