{% extends 'admin/base_admin.html.twig' %}

{% block title %}Edition - Secteur
{% endblock %}

{% block body %}
	<section class="container-fluid">
		<h1>Edition du secteur :
			{{sector.name}}</h1>

		<div class="content">
			{{ include('admin/sector/_form.html.twig', {'button_label': 'Update'}) }}
			<a class="btn btn-primary" href="{{ path('app_sector_index') }}">Retour</a>
		</div>
	</section>


{% endblock %}
