{% extends 'admin/base_admin.html.twig' %}

{% block title %}Ajout - Secteur
{% endblock %}

{% block body %}
	<section class="container-fluid">
		<h1>Ajout Secteur</h1>

		<div class="content">
			{{ include('admin/sector/_form.html.twig') }}
			<a class="btn btn-primary" href="{{ path('app_sector_index') }}">Retour</a>
		</div>
	</section>


{% endblock %}
