{% extends 'admin/base_admin.html.twig' %}

{% block title %}Ajout - Lycée
{% endblock %}

{% block body %}
	<section class="container-fluid">
		<h1>Ajout - Lycée</h1>

		<div class="content">
			{{ include('admin/high_school/_form.html.twig') }}
			<a class="btn btn-primary" href="{{ path('app_high_school_index') }}">Retour</a>
		</div>
	</section>


{% endblock %}
