{% extends 'base.html.twig' %}

{% block title %}Edit PossibleAnswer{% endblock %}

{% block body %}
    <h1>Edit PossibleAnswer</h1>

    {{ include('possible_answer/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('app_possible_answer_index') }}">Retour</a>

    {{ include('possible_answer/_delete_form.html.twig') }}
{% endblock %}
