{% extends 'base_admin.html.twig' %}

{% block title %}New PossibleAnswer{% endblock %}

{% block body %}
    <section class="container-fluid">
        <h1>Create PossibleAnswer</h1>

        <div class="content">
            {{ include('possible_answer/_form.html.twig') }}
            <a class="btn btn-primary" href="{{ path('app_possible_answer_index') }}">Retour</a>
        </div>
    </section>


{% endblock %}
