{% extends 'base.html.twig' %}

{% block title %}New Job{% endblock %}

{% block body %}
    <section class="container-fluid">
        <h1>Create Job</h1>

        <div class="content">
            {{ include('job/_form.html.twig') }}
            <a class="btn btn-primary" href="{{ path('app_job_index') }}">Retour</a>
        </div>
    </section>


{% endblock %}
