{% extends 'base.html.twig' %}

{% block title %}New Workshop{% endblock %}

{% block body %}
    <section class="container-fluid">
        <h1>Create Workshop</h1>

        <div class="content">
            {{ include('workshop/_form.html.twig') }}
            <a class="btn btn-primary" href="{{ path('app_workshop_index') }}">Retour</a>
        </div>

    </section>
{% endblock %}
