{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<section id="chiffres">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">72</h5>
				<p class="card-text">Ateliers</p>
			</div>
		</div>
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">72</h5>
				<p class="card-text">Métiers</p>
			</div>
		</div>
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">72</h5>
				<p class="card-text">Intervenants</p>
			</div>
		</div>
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">72</h5>
				<p class="card-text">Participants</p>
			</div>
		</div>
	</section>
	<hr>
	<section id="description">

		<div class="col">

			<h4>Vous êtes un lycéen ?</h4>
			<p>Venez participer à 3 ateliers de 45 minutes animés par des professionnels qui parleront du quotidien de leur métier et répondront à vos questions.
				<br>
				Inscrivez-vous
				<a href="#">ICI</a>
			</p>
		</div>
		<div class="col">

			<h4>Vous êtes un professionnel passionné ?</h4>
			<p>
				<i>« La vocation, c'est le bonheur d'avoir pour métier sa passion »
				</i>
				disait Stendhal. Pour aider les jeunes à choisir un métier qui leur correspond, rejoingnez nous et venez parler du vôtre !
				<br>
				Contactez-nous
				<a href="#">ICI</a>
			</p>
		</div>
		<div class="col">

			<h4>Vous êtes responsable de lycée à Lyon ?</h4>
			<p>Donnez à vos élèves l'occasion unique de rencontrer directement des professionnels qui parlent de leur métier au quotidien et répondent à leurs questions.
				<br>
				Si votre lycée n'est pas dans la liste ou pour plus d'informations, contactez nous
				<a href="#">ICI</a>
			</p>
		</div>
	</section>
	<hr>

	<section id="rotary">
		<h3>Présentation du Rotary</h3>
		<p>Depuis plus d’un siècle, les membres du Rotary apportent des solutions aux problèmes les plus pressants dans le monde.
																																				Engagée sur le terrain et forte de 1,2 million de membres, notre organisation vit le jour grâce à un visionnaire, Paul Harris. C'est le 23 février 1905 que cet avocat de Chicago décide de rassembler des hommes d'affaires d'horizons divers autour d'une mission : échanger des idées et créer des amitiés sincères et durables.
																																				Le nom « Rotary » vient de l'habitude d'alterner les premières réunions entre les bureaux des membres du club.
			<br>
			<a href="https://www.rotary.org/fr/our-causes" target="_blank">En savoir plus...</a>
		</p>
	</section>
{% endblock %}
