{% extends 'base.html.twig' %}

{% block title %}New Edition{% endblock %}

{% block body %}
    <section class="container-fluid">
        <h1>Create Edition</h1>

        <div class="content">
            {{ include('edition/_form.html.twig') }}
            <a class="btn btn-primary" href="{{ path('app_edition_index') }}">Retour</a>
        </div>
    </section>


{% endblock %}
