{% extends 'base.html.twig' %}

{% block title %}New Speaker{% endblock %}

{% block body %}
    <section class="container-fluid">
        <h1>Create Speaker</h1>

        <div class="content">
            {{ include('speaker/_form.html.twig') }}
            <a class="btn btn-primary" href="{{ path('app_speaker_index') }}">Retour</a>
        </div>
    </section>


{% endblock %}
