{% extends 'base.html.twig' %}

{% block title %}Création Etudiant
{% endblock %}

{% block body %}
	<h1>Création nouvel étudiant</h1>

	{{ include('student/_form.html.twig') }}

	<a href="{{ path('app_student_index') }}">Retour</a>
{% endblock %}
