{% extends 'base.html.twig' %}

{% block title %}New UniversityRoom{% endblock %}

{% block body %}
    <h1>Create new UniversityRoom</h1>

    {{ include('university_room/_form.html.twig') }}

    <a href="{{ path('app_university_room_index') }}">back to list</a>
{% endblock %}
