{% extends 'base.html.twig' %}

{% block title %}Edit HighSchool{% endblock %}

{% block body %}
    <h1>Edit HighSchool</h1>

    {{ include('high_school/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('app_high_school_index') }}">Retour</a>

    {{ include('high_school/_delete_form.html.twig') }}
{% endblock %}
