{% extends 'base.html.twig' %}

{% block title %}New HighSchool{% endblock %}

{% block body %}
    <section class="container-fluid">
        <h1>Create HighSchool</h1>

        <div class="content">
            {{ include('high_school/_form.html.twig') }}
            <a class="btn btn-primary" href="{{ path('app_high_school_index') }}">Retour</a>
        </div>
    </section>


{% endblock %}
