{% extends 'base.html.twig' %}

{% block title %}Edit UniversityRoom{% endblock %}

{% block body %}
    <h1>Edit UniversityRoom</h1>

    {{ include('university_room/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('app_university_room_index') }}">Retour</a>

    {{ include('university_room/_delete_form.html.twig') }}
{% endblock %}
