{% extends 'base_admin.html.twig' %}

{% block title %}Edit UniversityRoom{% endblock %}

{% block body %}
    <section class="container-fluid">
        <h1>Edit UniversityRoom</h1>

        <div class="content">
            {{ include('university_room/_form.html.twig', {'button_label': 'Update'}) }}
            <a class="btn btn-primary" href="{{ path('app_university_room_index') }}">Retour</a>
        </div>
    </section>


{% endblock %}
