{% extends 'base.html.twig' %}

{% block title %}New UniversityRoom{% endblock %}

{% block body %}
    <section class="container-fluid">
        <h1>Create UniversityRoom</h1>

        <div class="content">
            {{ include('university_room/_form.html.twig') }}
            <a class="btn btn-primary" href="{{ path('app_university_room_index') }}">Retour</a>
        </div>
    </section>


{% endblock %}
