{% extends 'base.html.twig' %}

{% block title %}Edit Skill{% endblock %}

{% block body %}
    <h1>Edit Skill</h1>

    {{ include('skill/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('app_skill_index') }}">Retour</a>

    {{ include('skill/_delete_form.html.twig') }}
{% endblock %}
