{% extends 'base_admin.html.twig' %}

{% block title %}New Questionary{% endblock %}

{% block body %}
    <section class="container-fluid">
        <h1>Create Questionary</h1>

        <div class="content">
            {{ include('questionary/_form.html.twig') }}
            <a class="btn btn-primary" href="{{ path('app_questionary_index') }}">Retour</a>
        </div>
    </section>


{% endblock %}
