{% extends 'admin/base_admin.html.twig' %}

{% block title %}Ajout - Créneau
{% endblock %}

{% block body %}
	<section class="container-fluid">
		<h1>Ajout créneau horaire</h1>

		<div class="content">
			{{ include('admin/timeslot/_form.html.twig') }}
			<a class="btn btn-primary" href="{{ path('app_timeslot_index') }}">Retour</a>
		</div>
	</section>


{% endblock %}
